{% extends 'base.html' %}
{% load static %}
{% block body %}
  
  {% for post in category_posts %}
    <h1> Category {{post.category}} <h1>
    <br>
    <h2 class="post-title">
      <a href="#">{{post.title}}</a>
    </h2>
    <p class="lead">
      by {{post.author}}  
      {% if user.is_authenticated %} 
      - <a class="btn btn-default" href="{% url 'blog:update_post' post.id %}">Edit</a> 
      - 
      <a class="btn btn-danger" href="{% url 'blog:delete_post' post.id %}">Delete</a>
      {% endif %}
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>
    <p>{{post.description}}.</p>
    <a class="btn btn-default" href="{% url 'blog:article-detail' post.id %}">Read More</a>
    <br><br><br><br>
    <hr>

  {% empty %}
  there is no catergories
  {% endfor %}

          
{% endblock body %}
